#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df=pd.read_csv('data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby('Branch').Total.sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [8]:
df.groupby(['Branch','City']).Total.sum()

Branch  City
A       Yangon       106200.3705
B       Mandalay     106197.6720
C       Naypyitaw    110568.7065
Name: Total, dtype: float64

In [ ]:
–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —É –º—ñ—Å—Ç—ñ Naypyitaw. –ó –¥–∞–Ω–∏—Ö, —â–æ –º–∏ –º–∞—î–º–æ, —Å–∫–ª–∞–¥–Ω–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–∫–∏ –ø—Ä–æ 
–¥–æ—Ü—ñ–ª—å–Ω—ñ—Å—Ç—å –≤—ñ–¥–∫—Ä–∏—Ç—Ç—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [11]:
invoices_by_category=pd.pivot_table(df, index='Branch', columns='Product line', values='Total', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [13]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [ ]:
1. –ß–∏ –∑–∞–ª–µ–∂–∏—Ç—å —Å–µ—Ä–µ–¥–Ω—è —Å—É–º–∞ —á–µ–∫—É –≤—ñ–¥ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞?
2. –ß–∏ —î –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –≤—ñ–¥—Ç–æ–∫—É –ø—Ä–∏—Ç–æ–∫—É –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ –º—ñ—Å—è—Ü—è?
3. –í —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó —è–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ ?

In [16]:
print('1)')
df.groupby('Customer type').Total.mean()

1)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

In [21]:
print('2)')
data='1/5/2019'
def get_month(data):
    return int(data.split('/')[0])
df['Month']=df['Date'].apply(get_month)
df['Month'].value_counts()

2)

Month
1    352
3    345
2    303
Name: count, dtype: int64

In [22]:
print('3)')
total_by_category=pd.pivot_table(df, index='Branch', columns='Product line', values='Total', aggfunc='sum')
total_by_category

3)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,18317.1135,16332.5085,17163.1005,12597.753,22417.1955,19372.6995
B,17051.4435,16413.3165,15214.8885,19980.660,17549.1645,19988.1990
C,18968.9745,21560.0700,23766.8550,16615.326,13895.5530,15761.9280

In [ ]:
1. –ë–∞—á–∏–º–æ, —â–æ —Å–µ—Ä–µ–¥–Ω—è —Å—É–º–∞ —á–µ–∫—É –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–æ—é –º–∞–≥–∞–∑–∏–Ω—É –±—ñ–ª—å—à–µ –∑–∞ —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É —á–µ–∫—É 
–¥–ª—è –∫–ª—î–Ω—Ç—ñ–≤ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏. –°–∫–æ—Ä—ñ—à–µ –∑–∞ –≤—Å–µ –Ω–∞—è–≤–Ω—ñ—Å—Ç—å —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫—ñ–≤ –∫–∞—Ä—Ç–æ–∫ —Å–ø–æ–Ω—É–∫–∞—î —ó—Ö 
–∫—É–ø—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ. –¢–æ–º—É –∑–¥–∞—î—Ç—å—Å—è –ª–æ–≥—ñ—á–Ω–∏–º —á–∞—Å—Ç—ñ—à–µ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∫–∞—Ä—Ç–∫—É –º–∞–≥–∞–∑–∏–Ω—É –¥–ª—è –±–µ–∑–∫–∞—Ä—Ç–∫–æ–≤–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤
—Ç–∞ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ —Ä–µ–∫–ª–∞–º—É —Ç–∏—Ö —Å–∞–º–∏—Ö –∫–∞—Ä—Ç–æ–∫.
2. –ë–∞—á–∏–º–æ, —â–æ –≤ –ª—é—Ç–æ–º—É –∑–¥—ñ–π—Å–Ω—é–≤–∞–ª–æ—Å—å —Å—É—Ç—Ç—î–≤–æ –º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫ –Ω—ñ–∂ –≤ —ñ–Ω—à—ñ –º—ñ—Å—è—Ü—ñ. –ú–æ–∂–ª–∏–≤–æ —Ç—Ä–µ–±–∞ –ø–æ—Å–∏–ª–∏—Ç–∏
—Ä–µ–∫–ª–∞–º—É –≤ —Ü–µ–π –º—ñ—Å—è—Ü—å –∞–±–æ –∑—Ä–æ–±–∏—Ç–∏ —è–∫—É—Å—å —Ü—ñ–∫–∞–≤—É –∞–∫—Ü—ñ—é –∞–±–æ —Ä–æ–∑—ñ—Ä–≥–∞—à.
3. –ë–∞—á–∏–º–æ, —â–æ –≤ —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ—è—Ö —Ä—ñ–∑–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –¥–æ–º—ñ–Ω—É—é—Ç—å –∑–∞ –ø—Ä–æ–¥–∞–∂–∞–º–∏. –ù–∞–ø—Ä–∏–∫–ª–∞–¥ —É —Ñ—ñ–ª—ñ—ó –ê –¥–æ–º—ñ–Ω—É—î
–∫–∞—Ç–µ–≥–æ—Ä—ñ—è "Home and lifestyle" —É —Ñ—ñ–ª—ñ—ó –í —Ç–∞–∫–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π –¥–≤—ñ "Health and beauty" —Ç–∞ "Sports and travel"
—É —Ñ—ñ–ª—ñ—ó –° —Ü–µ "Food and beverages". –¶—é —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –º–∏ –º–æ–∂–µ–º–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–ª—è –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –≤–∏–±—ñ—Ä–∫–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∫–æ–∂–Ω–æ—ó 
—Ñ—ñ–ª—ñ—ó –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ –≤–ø–æ–¥–æ–±–∞–Ω—å –ø–æ–∫—É–ø—Ü—ñ–≤.