#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df=pd.read_csv('data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
df.groupby('Branch').Total.sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [8]:
df.groupby(['Branch','City']).Total.sum()

Branch  City
A       Yangon       106200.3705
B       Mandalay     106197.6720
C       Naypyitaw    110568.7065
Name: Total, dtype: float64

In [ ]:
Найприбутковіший супермаркет знаходиться у місті Naypyitaw. З даних, що ми маємо, складно зробити висновки про 
доцільність відкриття ще одного магазину.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [11]:
invoices_by_category=pd.pivot_table(df, index='Branch', columns='Product line', values='Total', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [13]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

In [ ]:
1. Чи залежить середня сума чеку від типу клієнта?
2. Чи є залежність відтоку притоку клієнтів в залежності від місяця?
3. В якій філії яка категорія приносить найбільший дохід ?

In [16]:
print('1)')
df.groupby('Customer type').Total.mean()

1)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

In [21]:
print('2)')
data='1/5/2019'
def get_month(data):
    return int(data.split('/')[0])
df['Month']=df['Date'].apply(get_month)
df['Month'].value_counts()

2)

Month
1    352
3    345
2    303
Name: count, dtype: int64

In [22]:
print('3)')
total_by_category=pd.pivot_table(df, index='Branch', columns='Product line', values='Total', aggfunc='sum')
total_by_category

3)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,18317.1135,16332.5085,17163.1005,12597.753,22417.1955,19372.6995
B,17051.4435,16413.3165,15214.8885,19980.660,17549.1645,19988.1990
C,18968.9745,21560.0700,23766.8550,16615.326,13895.5530,15761.9280

In [ ]:
1. Бачимо, що середня сума чеку для клієнтів з карткою магазину більше за середню суму чеку 
для клєнтів без картки. Скоріше за все наявність спеціальних пропозицій для власників карток спонукає їх 
купувати більше. Тому здається логічним частіше пропонувати картку магазину для безкарткових клієнтів
та покращити рекламу тих самих карток.
2. Бачимо, що в лютому здійснювалось суттєво менше покупок ніж в інші місяці. Можливо треба посилити
рекламу в цей місяць або зробити якусь цікаву акцію або розіргаш.
3. Бачимо, що в різних філіях різні категорії домінують за продажами. Наприклад у філії А домінує
категорія "Home and lifestyle" у філії В таких категорій дві "Health and beauty" та "Sports and travel"
у філії С це "Food and beverages". Цю інформацію ми можемо використати для покращення вибірки товарів для кожної 
філії в залежності від вподобань покупців.